body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4; 
}

.header {
    background-color: rgb(248, 247, 247);
    color: rgb(7, 0, 0);
    padding: 0 5%; /*espacio a los lados*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(18, 10, 10);
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #f15900;
    color: #ffffff; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px; /* Tamaño más estándar para headers */
    width: auto;
    padding-right: 5%;
}

.content {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    min-height: 70vh; /* Asegura que el contenido ocupe espacio y el footer baje */
}

.footer {
    background-color: rgb(241, 97, 0);
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box; /* Evita que el padding ensanche el footer más del 100% */
}

/* Estilos del Formulario */
.bienvenida h2 {
    color: #333;
    margin-bottom: 10px;
}

.bienvenida p {
    color: #666;
    margin-bottom: 30px;
}

.card-formulario {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: left; /* Para que las etiquetas se alineen a la izquierda */
}

.grupo-input {
    margin-bottom: 20px;
}

.grupo-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444;
}

.grupo-input input, 
.grupo-input select, 
.grupo-input textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Importante para que el padding no rompa el ancho */
    font-size: 16px;
}

.grupo-input textarea {
    resize: vertical; /* Permite estirar hacia abajo pero no a los lados */
}

.btn-enviar {
    background-color: #f15900; 
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #d14d00; 
}